<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jin.road.Mapper.ErrorLampMapper" > 
	<select id="findAllErrorLamp" resultType="com.jin.road.Dao.RoadLamp">
        SELECT lamp.id, lamp.lampid, lamp.addr, lamp.state , lamp.procode, lamp.errortime, proserver.name AS proname, 
        proserver.addr AS proaddr, proserver.phone AS prophone
        FROM lamp
        LEFT JOIN proserver
        ON lamp.procode like proserver.procode
        WHERE lamp.state like '故障'
    </select>
</mapper>